.text-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 885px;
}

.inline-img {
    height: 1.5rem;
    position: relative;
    top: 7px;
}

.bottom-margin {
    height: 60px;
}

.button-container {
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 5px 0px;
}

button {
    color: #111111;
    font-weight: bold;
    border-radius: 10px;
    height: 35px;
    margin: 5px;
}

.mode-button {
    background-color: #226644;
    width: 60px;
}

.download-button {
    background-color: #00bfb2;
}

button:hover {
    cursor: pointer;
    transition: 0.5s;
}

.mode-button:hover {
    background-color: #44cc88;
}

.download-button:hover {
    background-color: #00978d;
}

.active {
    background-color: #44cc88;
}

a {
    color: #aaeeaa;
    transition: 0.5s;
}

a:hover {
    color: #77ee77;
    text-decoration: none;
}

@media (max-width: 940px) {
    p {
        margin-left: 20px;
        margin-right: 20px;
    }
}
